[Desktop Entry]
Type=Application
Name=Pkgs Upgrade Notify
Name[zh_CN]=软件包更新提醒
Comment=Packages upgrade reminder tool
Comment[zh_CN]=软件包更新提醒工具
Exec=pkgs_upgrade_notify
Icon=/var/lib/pkgs_upgrade/icon/window_notify.png
Terminal=false
