[Unit]
Description=Repo infomation Service
After=multi-user.target

[Service]
Type=oneshot
ExecStart=/usr/bin/python3 /usr/bin/repoinfo
KillSignal=SIGTERM

[Install]
WantedBy=multi-user.target
