[Desktop Entry]
Type=Application
Name=Pkgs Upgrade Notify
Name[zh_CN]=软件包更新提醒
Comment=Packages upgrade reminder tool
Comment[zh_CN]=软件包更新提醒工具
Exec=/usr/bin/python3 /usr/bin/pkgs_upgrade_notify
Icon = /usr/lib/python3.7/site-packages/com_deepin_upgrade/img/window_notify.png
Terminal=false
